.LoginForm {
  width: 280px;
  background-color: var(--inverted-bg-color);

  &__title p {
    color: var(--inverted-primary-color);
    margin-bottom: 20px;
  }

  &__submit {
    display: block;
    border: 1px solid;
    padding: 5px 15px;
  }

  &__controls {
    margin-bottom: 20px;
  }

  &__input {
    margin-bottom: 10px;
    display: block;
  }
}
