.Input {
  &__element {
    padding: 0 10px;
    background-color: transparent;
    outline: none;
    border: 1px solid var(--bg-color);
    color: var(--inverted-primary-color);
    height: 25px;
    width: 100%;
  }

  &__placeholder {
    display: block;
    color: var(--inverted-primary-color);
    margin-bottom: 10px;
  }
}
